<div id="container1">
    <div id="area">
        <h3>OUR DIGNITIES</h3>
    </div>
    <div id="area">
        <h3>COLLEGE AWARDS</h3>
    </div>
    <div id="area">
        <h3>COLLEGE CERTIFICATE</h3>
    </div>
</div>
<div id="container1">
    <div id="ff">
        <div id="fe">
            <div>
                <img id="qw" src="/assets/owner-1.png">
            </div>
            <div>
                <h3 id="id22">Mr. Akshya Kumar<br>Chairman,<br>Since 2022</h3>
            </div>
        </div>
        <div id="fe">
            <div>
                <img id="qw" src="/assets/owner-2.png">
            </div>
            <div>
                <h3 id="id22">Mr. Jitesh Kumar<br>Principal,<br>Since 2021</h3>
            </div>
        </div>
    </div>
    <div>
        <img id=size src="/assets/award.jpg">
    </div>
    <div>
        <img id="size1" src="/assets/certificate.png">
    </div>
</div>